.card{
    margin-left:50px;
    margin-right:50px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-header{
    color: rgb(20, 141, 125);
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.692);
}
form{
    background-color: rgb(2, 97, 97);
}
label{
    color: white;
}
textarea{
    height: 200px;
}
